<section id="clientes">
    <div class="conteudo"></div>
    <h2>Nossos Clientes</h2>

    <div class="flex-container">

        <article class="flex-item">
            <header><h5>Cliente 1</h5></header>
            <a href="#clientes"><img class="img-round" src="../../static/img/home/people.jpg" alt=""></a>
        </article>

        <article class="flex-item">
            <header><h5>Cliente 2</h5></header>
            <a href="#clientes"><img class="img-round" src="../../static/img/home/people.jpg" alt=""></a>
        </article>

        <article class="flex-item">
            <header><h5>Cliente 3</h5></header>
            <a href="#clientes"><img class="img-round" src="../../static/img/home/people.jpg" alt=""></a>
        </article>

    </div>

</section>