<footer id='rodape'>

    <div class='conteudo'></div>
    <div class='flex-container'>

        <section class='flex-item'>
            <div class='textcenter'>
                <header>
                    <h6>Institucional</h6>
                </header>

                <ul>
                    <li><a href='./index.html#quemsomos'>Quem Somos</a></li>
                    <li><a href='./index.html#produtos'>Nossos Produtos</a></li>
                    <li><a href='./index.html#clientes'>Nossos Clientes</a></li>
                </ul>
            </div>
        </section>

        <section class='flex-item'>
            <div class='textcenter'>
                <header>
                    <h6>Dados para Contato</h6>
                    <p><strong>E-mail</strong></p>
                    <p><a href='https://mail.google.com/' target='_blank' role='button'>email@email.com</a>
                    </p>
                    <p><strong>Telefone</strong></p>
                    <p>(31) 99999-9999</p>
                    <p><strong>Horário de atendimento</strong></p>
                    <p>Segunda-feira a Sexta-feira</p>
                    <p>08h00 às 18h00</p>
                </header>
            </div>
        </section>

        <section class='flex-item'>
            <div class='textcenter'>
                <header>
                    <h6>Redes Sociais</h6>
                </header>

                <div class='redessociais w50 center'>
                    <a href='https://wa.me/message/OXVJNATOPP7QK1' target='_blank'><i
                            class='fab fa-whatsapp-square fa-3x'></i></a>
                    <a href='https://t.me/sanlisgestao' target='_blank'><i class='fab fa-telegram fa-3x'></i></a>
                    <div class='clear'></div>
                </div>

                <div class='redessociais w50 center'>
                    <a href='https://www.instagram.com' target='_blank'><i
                            class='fab fa-instagram fa-3x'></i></a>
                    <a href='https://www.facebook.com' target='_blank'><i
                            class='fab fa-facebook-square fa-3x'></i></a>
                    <div class='clear'></div>
                </div>
            </div>
        </section>

        <div class='clear'></div>
    </div>
    <div class='conteudo'></div>

</footer>