<!doctype html>
<html lang='en'>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Website">
  <meta name="author" content="Angelita Santos">
  <meta name="keyWords" content="website">
  <meta name="robots" content="index, follow">
  <meta name="classification" content="site, website">

  <title>Home - Controle de Processos</title>

  <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
  <link rel='stylesheet' href='../../static/css/reset.css'>
  <link rel='stylesheet' href='../../static/css/global.css'>
  <link rel='stylesheet' href='../../static/css/styles.css'>
  <link rel='stylesheet' href='../../static/css/cards.css'>
  <link rel='stylesheet' href='../../static/css/responsive.css'>
</head>

<body>

  <header>
      <button type='button' class='outline' onclick='logout()'>Sair</button>
  </header>

  <main>

    <h1>Controle de Processos</h1>

    <section class="centralize row">

      <div class="card green card-comex" onclick="accessPainelComex()">
        <h2>Comex</h2>
        <p>Pleno Comex</p>
        <img class="image" src="../../static/img/folder-solid.svg" alt="folder solid" >
      </div>
  
      <div class="card blue card-comex" onclick="accessPainelServicos()">
        <h2>Serviços</h2>
        <p>Pleno Serviços</p>
        <img class="image" src="../../static/img/folder-solid.svg" alt="folder solid" />
      </div>
  
      <div class="card red card-comex" onclick="accessPainelLean()">
        <h2>Lean</h2>
        <p>Lean Logística</p>
        <img class="image" src="../../static/img/folder-solid.svg" alt="folder solid" />
      </div>

    </section>

  </main>

  <footer class="footer-home">
    <p>Footer</p>
  </footer>

  <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
  <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
  <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js'></script>
  <script src='../../static/js/firebase-init.js'></script>
  <script src='../../static/js/auth-guard.js'></script>
  <script src='../../static/js/global/loading.js'></script>
  <script src='../../static/js/home.js'></script>
    
</body>

</html>