<section id='produtos'>
    <div class='conteudo'></div>
    <h2>Nossos Produtos</h2>

    <div class='flex-container'>

        <article class='card green flex-item'>
            <header><h5>Produto 1</h5></header>
            <img class='img-round' src='../../static/img/home/istockphoto-120990404-1024x1024.jpg' alt=''>
            <footer><a href='#produtos'><button class='btnInfo' type='button'>Mais informações</button></a></footer>
        </article>

        <article class='card green flex-item'>
            <header><h5>Produto 2</h5></header>
            <img class='img-round' src='../../static/img/home/istockphoto-907121064-1024x1024.jpg' alt=''>
            <footer><a href='#produtos'><button class='btnInfo' type='button'>Mais informações</button></a></footer>
        </article>

        <article class='card green flex-item'>
            <header><h5>Produto 3</h5></header>
            <img class='img-round' src='../../static/img/home/istockphoto-1356760310-1024x1024.jpg' alt=''>
            <footer><a href='#produtos'><button class='btnInfo' type='button'>Mais informações</button></a></footer>
        </article>

        <article class='card green flex-item'>
            <header><h5>Produto 4</h5></header>
            <img class='img-round' src='../../static/img/home/istockphoto-887441826-1024x1024.jpg' alt=''>
            <footer><a href='#produtos'><button class='btnInfo' type='button'>Mais informações</button></a></footer>
        </article>

        <article class='card green flex-item'>
            <header><h5>Produto 5</h5></header>
            <img class='img-round' src='../../static/img/home/istockphoto-1356760464-1024x1024.jpg' alt=''>
            <footer><a href='#produtos'><button class='btnInfo' type='button'>Mais informações</button></a></footer>
        </article>

        <article class='card green flex-item'>
            <header><h5>Produto 6</h5></header>
            <img class='img-round' src='../../static/img/home/istockphoto-1177504018-1024x1024.jpg' alt=''>
            <footer><a href='#produtos'><button class='btnInfo' type='button'>Mais informações</button></a></footer>
        </article>

    </div>

</section>