<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Website">
    <meta name="author" content="Angelita Santos">
    <meta name="keyWords" content="website">
    <meta name="robots" content="index, follow">
    <meta name="classification" content="site, website">

    <title></title>

    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
    <script src="../../static/cdn/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../../static/cdn/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/painel.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-reboot.css">
</head>

<body class="container-fluid">

    <header id="nav-navbar">
        <script type="text/javascript" src="../../static/js/load.js"></script>
    </header>

    <main class="jumbotron text-center mt-5">

        <section>
            <h1 class="display-4">SIG</h1>
            <h2 class="display-5">Sistema Integrado de Gestão</h2>
            <hr class="my-4">
        </section>

        <section class="row">

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="vendas" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-cash-register">
                            VENDAS</i></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="compras" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-briefcase">
                            COMPRAS</i></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="servicos" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-calendar">
                            SERVIÇOS</i></a>
                </div>
            </div>
            
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="producao" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-calendar">
                            PRODUÇÃO</i></a>
                </div>
            </div>

        </section>

        <section class="row">

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="parceiros" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-users">
                            PARCEIROS</i></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="itens" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-boxes">
                            ITENS</i></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="vendedores" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-wallet">
                            VENDEDORES</i></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="tab-preco" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-calculator">
                            TABELA PREÇO</i></a>
                </div>
            </div>

        </section>

        <section class="row">

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="receber" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-wallet"> A
                            RECEBER</i></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-green btn-lg py-3" href="" id="pagar" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-calculator">
                            A PAGAR</i></a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-outline-green btn-lg py-3" href="" id="apoio" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-list">
                            Apoio</i></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <a class="btn btn-outline-green btn-lg py-3" href="" id="config" role="button" data-toggle="tooltip"
                        data-placement="bottom" title="Em Construção"><i class="fa fa-wrench">
                            Configurações</i></a>
                </div>
            </div>

        </section>

    </main>

    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
    <script src='../../static/js/firebase-init.js'></script>
    <script src='../../static/js/auth-guard.js'></script>

    <script type="text/javascript" src="../../static/js/global/versao_title.js"></script>
    <script type="text/javascript" src="../../static/js/links.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>