<!doctype html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>Home - Controle de Processos</title>

    <link rel="shortcut icon" href="../../static/img/logo.png" type="image/x-icon">
    <script src="../../static/cdn/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../../static/cdn/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/painel.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-reboot.css">
</head>

<body>

    <header>
        <button type='button' class='outline' onclick='logout()'>Sair</button>
    </header>

    <main class="mt-2 mb-5 card text-center">

        <header class="card-header text-center bg-success text-light">
            <section class="row mt-3">

                <div class="col-sm-1 mt-1">
                    <a class="icon-home" href="../../templates/read/list-itens.html">
                        <i class="bi bi-list"></i>
                    </a>
                </div>

                <div class="col-sm-10 mb-1">
                    <h3 class="">ITENS</h3>
                </div>

                <div class="col-sm-1 mt-1">
                    <a class="icon-home" href="../../templates/create/add-tabpreco.html">
                        <i class="bi bi-cash"></i>
                    </a>
                </div>

            </section>
        </header>

        <section class="card-body">

            <div class="row mb-3">
                <div class="col-sm-3 input-group mb-2">
                    <span class="input-group-text">Número</span>
                    <input type="text" class="form-control text-center" id="" name="search_cod_item"
                        placeholder="Digite o numero" autocomplete="off" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="showDataItem();"><i
                                class="bi bi-search"></i></button>
                    </div>
                    <div class="invalid-tooltip">
                        Por favor, coloque um número válido.
                    </div>
                </div>
                <div class="col-sm-7">
                </div>
                <div class="col-sm-2">
                    <form class="form-inline my-1 my-lg-0">
                        <a href="../../templates/create/add-itens.html" class="btn btn-success">Adicionar Novo</a>
                    </form>
                </div>
            </div>

            <form action="" id="form-action" method="post"></form>

            <div id="search-item">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Codigo</span>
                            <input type="text" class="form-control input-group-text" autocomplete="off" name="id_item">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Descrição</span>
                            <input type="text" class="form-control input-group-text" name="item_nm" required autocomplete="off"
                                minlength="4">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">UnMed</span>
                            <input type="text" class="form-control text-center input-group-text" name="un_med"
                                autocomplete="off">
                        </div>
                    </div>
                </div> <!-- codigo, descricao, unmed -->

                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Estoque</span>
                            <input autocomplete="off" type="number" class="form-control text-center input-group-text"
                                name="estoque" min="0.00" max="10.000.00" step="1.00">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Custo Atual</span>
                            <input autocomplete="off" type="number" class="form-control text-center input-group-text"
                                name="custo_atual" min="0.00" max="10.000.00" step="0.0001">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cod Fabr</span>
                            <input autocomplete="off" type="text" class="form-control text-center input-group-text" name="cod_fabr">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Cod Barra</span>
                            <input autocomplete="off" type="text" class="form-control text-center input-group-text" name="cod_barra">
                        </div>
                    </div>
                </div> <!-- estoque, custo atual, cod fab, cod barra -->
            </div>

            <table id="bodymargem" class="table table-sm table-responsive table-hover mb-5">
                <tbody id="TBodyAllItem">
                </tbody>
            </table>

        </section>

    </main>

    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
    <script src='../../static/js/firebase-init.js'></script>
    <script src='../../static/js/auth-guard.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.bundle.js"></script>
    
</body>

</html>