<section id='breadcrumb'>

    <nav id='breadcrumb-cadastros' aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='../../templates/read/list-parceiros.html'>Parceiros</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-vendedores.html'>Vendedor</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-itens.html'>Itens</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-tabpreco.html'>Tabelas</a></li>
        </ol>
    </nav>

    <nav id='breadcrumb-registros' aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='../../templates/read/list-vendas.html'>Vendas</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-compras.html'>Compras</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-servicos.html'>Serviços</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-producao.html'>Producao</a></li>
        </ol>
    </nav>

    <nav id='breadcrumb-financeiro' aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='../../templates/read/list-receber.html'>Receber</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-pagar.html'>Pagar</a></li>
            <li class='breadcrumb-item'><a href='../../templates/read/list-parceiros.html'>Parceiros</a></li>
        </ol>
    </nav>

</section>

<script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
<script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
<script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-firestore-compat.js'></script>
<script src='../../static/js/firebase-init.js'></script>
<script src='../../static/js/auth-guard.js'></script>