<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Website">
    <meta name="author" content="Angelita Santos">
    <meta name="keyWords" content="website">
    <meta name="robots" content="index, follow">
    <meta name="classification" content="site, website">

    <title></title>

    <link rel="shortcut icon" href="../../static/img/logo.png" type="image/x-icon">
    <script src="../../static/cdn/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../../static/cdn/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/painel.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-reboot.css">
</head>

<body class="container-fluid">

    <header id="nav-navbar">
        <script type="text/javascript" src="../../static/js/load.js"></script>
    </header>

    <main class="mt-2 mb-5">

        <form action="" id="form-action" method="post" class="needs-validation" novalidate name="formulario">

            <section class="card">

                <header class="card-header text-center bg-success text-light">
                    <section class="mt-3">
                        <div class="mb-3">
                            <h3 class="">VENDEDOR</h3>
                        </div>
                    </section>
                </header>

                <div class="card-body">

                    <section class="row">

                        <div class="col-sm-12">

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Codigo</span>
                                        <input type="text" class="form-control input-group-text" autocomplete="off"
                                            name="cod_vendedor">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Vendedor</span>
                                        <input type="text" class="form-control" name="vendedor_nm" required
                                            autocomplete="off" minlength="4">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary busca" type="button"
                                                onclick="showDataEdit();"><i class="bi bi-search"
                                                    onmouseenter="refresh();"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Comissão</span>
                                        <input autocomplete="off" type="number" class="form-control text-center"
                                            name="comissao" min="0.00" max="10.000.00" step="1.00">
                                    </div>
                                </div>
                            </div> <!-- codigo, nome, comissao -->

                            <div class="row">

                                <div class="col-sm-3">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Partic</span>
                                        <input autocomplete="off" type="number" class="form-control text-center"
                                            name="partic" min="0.00" max="10.000.00" step="1.00">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Telefone</span>
                                        <input type="text" class="form-control text-center" name="telefone">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">E-mail</span>
                                        <input type="email" class="form-control" name="email">
                                    </div>
                                </div>

                            </div> <!-- partic, telefone, email -->

                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Rota</span>
                                        <input list="dropdownRota" autocomplete="off" type="text" class="form-control"
                                            name="rota">
                                        <datalist id="dropdownRota"></datalist>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary busca" type="button"
                                                onclick="showDataRota();"><i class="bi bi-search"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">SubRegião</span>
                                        <input list="dropdownSubRegiao" autocomplete="off" type="text"
                                            class="form-control" name="subregiao">
                                        <datalist id="dropdownSubRegiao"></datalist>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary busca" type="button"
                                                onclick="showDataSubRegiao();"><i class="bi bi-search"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">Região</span>
                                        <input list="dropdownRegiao" autocomplete="off" type="text" class="form-control"
                                            name="regiao">
                                        <datalist id="dropdownRegiao"></datalist>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary busca" type="button"
                                                onclick="showDataRegiao();"><i class="bi bi-search"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- rota, subregiao, regiao -->

                        </div>

                    </section>

                    <section class="row mt-4">

                        <div class="col-sm-4">

                            <div class="" id="">
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button">
                                                <h6 class="mt-2">Resumo Vendas (R$)</h6>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Total Vendas</span>
                                                <input type="number" class="form-control input-group-text text-center"
                                                    id="RegEntTot" name="reg_sai_total" min="0.00" max="10.000.00"
                                                    step="1.00">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Mês Atual</span>
                                                <input type="number" class="form-control input-group-text text-center"
                                                    id="RegEntMes0" name="reg_sai_mes0" min="0.00" max="10.000.00"
                                                    step="1.00">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Mês Anterior 1</span>
                                                <input type="number" class="form-control input-group-text text-center"
                                                    id="RegEntMes1" name="reg_sai_mes1" min="0.00" max="10.000.00"
                                                    step="1.00">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Mês Anterior 2</span>
                                                <input type="number" class="form-control input-group-text text-center"
                                                    id="RegEntMes2" name="reg_sai_mes2" min="0.00" max="10.000.00"
                                                    step="1.00">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button">
                                                <h6 class="mt-2">Resumo Comissões (R$)</h6>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Tot Comissões</span>
                                                <input type="number" class="form-control input-group-text text-center"
                                                    id="RegSaiTot" name="reg_com_total" min="0.00" max="10.000.00"
                                                    step="0.01">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Mês Atual</span>
                                                <input type="number" class="form-control input-group-text text-center"
                                                    id="RegSaiMes0" name="reg_com_mes0" min="0.00" max="10.000.00"
                                                    step="0.01">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Mês Anterior 1</span>
                                                <input type="number" class="form-control input-group-text text-center"
                                                    id="RegSaiMes1" name="reg_com_mes1" min="0.00" max="10.000.00"
                                                    step="0.01">
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">Mês Anterior 2</span>
                                                <input type="number" class="form-control input-group-text text-center"
                                                    id="RegSaiMes2" name="reg_com_mes2" min="0.00" max="10.000.00"
                                                    step="0.01">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="row text-center mt-3 mb-4">
                                <div class="col-sm-6">
                                    <a href="../../templates/create/add-vendedores.html">
                                        <button type="button" class="btn btn-primary px-3 my-1">Salvar
                                        </button>
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="../../templates/read/list-vendedores.html">
                                        <button type="button" class="btn btn-danger px-3 my-1">Cancelar
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <button type="button" class="btn px-2 my-1 btn-success"
                                        onclick="GetPrint();">Imprimir</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn px-2 my-1 btn-success"
                                        onclick="showDataEdit()">Lista Vendedor
                                    </button>
                                </div>
                            </div>

                        </div>

                    </section>

                </div>

            </section>

        </form>

        <section id="nav-breadcrumb-registros">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </section>

    </main>

    <section>
        <div id="modalShow-Vendedor">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    
        <div id="modalShow-Regiao">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    
        <div id="modalShow-SubRegiao">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    
        <div id="modalShow-Rota">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    </section>

    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
    <script src='../../static/js/firebase-init.js'></script>
    <script src='../../static/js/auth-guard.js'></script>
    <script type="text/javascript" src="../../static/js/global/versao_title.js"></script>
    <script type="text/javascript" src="../../static/js/modules/register-action.js"></script>
    <!--
    <script type="text/javascript" src="../../static/js/modules/show-data-cad-vendedores.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>