<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <meta name='description' content='Website'>
    <meta name='author' content='Angelita Santos'>
    <meta name='keyWords' content='website'>
    <meta name='robots' content='index, follow'>
    <meta name='classification' content='site, website'>

    <title></title>

    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
    <script src='../../static/painel/cdn/jquery-3.7.0.js'></script>
    <link rel='stylesheet' href='../../static/painel/cdn/bootstrap-icons.css'>
    <link rel='stylesheet' href='../../static/painel/css/painel.css'>
    <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap-grid.css'>
    <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap-reboot.css'>
</head>

<body class='container-fluid'>

    <header id='nav-navbar'></header>

    <main class='mt-2 mb-5'>

        <form action='' id='form-action' method='post' class='needs-validation' novalidate name='formulario'>

            <section class='card'>

                <header class='card-header text-center bg-success text-light'>
                    <section class='mt-3'>
                        <div class='mb-3'>
                            <h3 class=''>ITEM</h3>
                        </div>
                    </section>
                </header>

                <div class='card-body'>

                    <section class='row'>

                        <div class='col-sm-12'>

                            <div class='row'>
                                <div class='col-sm-2'>
                                    <div class='input-group mb-3'>
                                        <span class='input-group-text'>Codigo</span>
                                        <input type='text' class='form-control input-group-text' autocomplete='off'
                                            name='cod_item'>
                                    </div>
                                </div>
                                <div class='col-sm-7'>
                                    <div class='input-group mb-3'>
                                        <span class='input-group-text'>Descrição</span>
                                        <input type='text' class='form-control' name='item_nm' required
                                            autocomplete='off' minlength='4'>
                                        <div class='input-group-append'>
                                            <button class='btn btn-outline-secondary busca' type='button'
                                                onclick='showDataEdit();'><i class='bi bi-search'
                                                    onmouseenter='refresh();'></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class='input-group mb-3'>
                                        <span class='input-group-text'>UnMed</span>
                                        <input type='text' class='form-control text-center' name='un_med'
                                            list='dropdownUnMed' autocomplete='off' value='UNIDADE'>
                                        <datalist id='dropdownUnMed'></datalist>
                                    </div>
                                </div>
                            </div> <!-- codigo, descricao, unmed -->

                            <div class='row'>
                                <div class='col-sm-3'>
                                    <div class='input-group mb-3'>
                                        <span class='input-group-text'>Estoque</span>
                                        <input autocomplete='off' type='number'
                                            class='form-control text-center input-group-text' name='estoque' min='0.00'
                                            max='10.000.00' step='1.00'>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class='input-group mb-3'>
                                        <span class='input-group-text'>Custo Est</span>
                                        <input autocomplete='off' type='number'
                                            class='form-control text-center input-group-text' name='custo_estoque'
                                            min='0.00' max='10.000.00' step='0.01'>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class='input-group mb-3'>
                                        <span class='input-group-text'>Custo Atual</span>
                                        <input autocomplete='off' type='number'
                                            class='form-control text-center input-group-text' name='custo_atual'
                                            min='0.00' max='10.000.00' step='0.0001'>
                                    </div>
                                </div>
                                <div class='col-sm-3'>
                                    <div class='input-group mb-3'>
                                        <span class='input-group-text'>Custo Padrão</span>
                                        <input autocomplete='off' type='number' class='form-control text-center'
                                            name='custo_padrao' min='0.00' max='10.000.00' step='0.0001'>
                                    </div>
                                </div>
                            </div> <!-- estoque, custo estoque, custo atual, custo padrao -->

                            <div class='accordion' id='accordionExample'>
                                <div class='card'>
                                    <div class='card-header' id='headingOne'>
                                        <h5 class='mb-0'>
                                            <button class='btn btn-link' type='button' data-toggle='collapse'
                                                data-target='#collapseOne' aria-expanded='true'
                                                aria-controls='collapseOne'>
                                                <h6 class='mt-2'>Dados Gerais</h6>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id='collapseOne' class='collapse' aria-labelledby='headingOne'
                                        data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            <div class='row'>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Cod Fabr</span>
                                                        <input autocomplete='off' type='text'
                                                            class='form-control text-center' name='cod_fabr'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Cod Barra</span>
                                                        <input autocomplete='off' type='text'
                                                            class='form-control text-center' name='cod_barra'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>DUN</span>
                                                        <input autocomplete='off' type='text'
                                                            class='form-control text-center' name='dun'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>NCM</span>
                                                        <input autocomplete='off' type='text'
                                                            class='form-control text-center' name='ncm'>
                                                    </div>
                                                </div>
                                            </div> <!-- cod.fab, EAN, DUN, NCM -->

                                            <div class='row'>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Peso Bruto</span>
                                                        <input autocomplete='off' type='number'
                                                            class='form-control text-center' name='peso_bruto'
                                                            min='0.00' max='10.000.00' step='0.001'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Peso Liquido</span>
                                                        <input autocomplete='off' type='number'
                                                            class='form-control text-center' name='peso_liquido'
                                                            min='0.00' max='10.000.00' step='0.001'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Emb Compra</span>
                                                        <input autocomplete='off' type='number'
                                                            class='form-control text-center' name='emb_compra'
                                                            min='0.00' max='10.000.00' step='1.00'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Emb Venda</span>
                                                        <input autocomplete='off' type='number'
                                                            class='form-control text-center' name='emb_venda' min='0.00'
                                                            max='10.000.00' step='1.00'>
                                                    </div>
                                                </div>
                                            </div> <!-- peso bruto, peso liquido, emb compra, emb venda -->

                                            <div class='row'>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Est Segur</span>
                                                        <input autocomplete='off' type='number'
                                                            class='form-control text-center' name='est_segur' min='0.00'
                                                            max='10.000.00' step='1.00'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Largura</span>
                                                        <input autocomplete='off' type='number'
                                                            class='form-control text-center' name='largura' min='0.00'
                                                            max='10.000.00' step='0.001'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Altura</span>
                                                        <input autocomplete='off' type='number'
                                                            class='form-control text-center' name='altura' min='0.00'
                                                            max='10.000.00' step='0.001'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Comprimento</span>
                                                        <input autocomplete='off' type='number'
                                                            class='form-control text-center' name='comprimento'
                                                            min='0.00' max='10.000.00' step='0.001'>
                                                    </div>
                                                </div>
                                            </div> <!-- est segur, largura, altura, comprimento -->

                                            <div class='row'>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Tipo Item</span>
                                                        <select class='form-control' name='tipo_item'
                                                            id='dropdownTipoItem' autocomplete='off'>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Categoria</span>
                                                        <input list='dropdownCategoria' autocomplete='off' type='text'
                                                            class='form-control' name='categoria'>
                                                        <datalist id='dropdownCategoria'></datalist>
                                                        <div class='input-group-append'>
                                                            <button class='btn btn-outline-secondary busca'
                                                                type='button' onclick='showDataCategoria()'><i
                                                                    class='bi bi-search'></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Grupo</span>
                                                        <input list='dropdownGrupo' autocomplete='off' type='text'
                                                            class='form-control' name='grupo'>
                                                        <datalist id='dropdownGrupo'></datalist>
                                                        <div class='input-group-append'>
                                                            <button class='btn btn-outline-secondary busca'
                                                                type='button' onclick='showDataGrupo();'><i
                                                                    class='bi bi-search'></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>SubGrupo</span>
                                                        <input list='dropdownSubGrupo' autocomplete='off' type='text'
                                                            class='form-control' name='subgrupo'>
                                                        <datalist id='dropdownSubGrupo'></datalist>
                                                        <div class='input-group-append'>
                                                            <button class='btn btn-outline-secondary busca'
                                                                type='button' onclick='showDataSubGrupo();'><i
                                                                    class='bi bi-search'></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- tipo item, categoria, grupo, subgrupo -->

                                            <div class='row'>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Marca</span>
                                                        <input list='dropdownMarca' autocomplete='off' type='text'
                                                            class='form-control' name='marca'>
                                                        <datalist id='dropdownMarca'></datalist>
                                                        <div class='input-group-append'>
                                                            <button class='btn btn-outline-secondary busca'
                                                                type='button' onclick='showDataMarca();'><i
                                                                    class='bi bi-search'></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Cor</span>
                                                        <input list='dropdownCor' autocomplete='off' type='text'
                                                            class='form-control' name='cor'>
                                                        <datalist id='dropdownCor'></datalist>
                                                        <div class='input-group-append'>
                                                            <button class='btn btn-outline-secondary busca'
                                                                type='button' onclick='showDataCor();'><i
                                                                    class='bi bi-search'></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Tamanho</span>
                                                        <input list='dropdownTamanho' autocomplete='off' type='text'
                                                            class='form-control' name='tamanho'>
                                                        <datalist id='dropdownTamanho'></datalist>
                                                        <div class='input-group-append'>
                                                            <button class='btn btn-outline-secondary busca'
                                                                type='button' onclick='showDataTamanho();'><i
                                                                    class='bi bi-search'></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Material</span>
                                                        <input list='dropdownMaterial' autocomplete='off' type='text'
                                                            class='form-control' name='material'>
                                                        <datalist id='dropdownMaterial'></datalist>
                                                        <div class='input-group-append'>
                                                            <button class='btn btn-outline-secondary busca'
                                                                type='button' onclick='showDataMaterial();'><i
                                                                    class='bi bi-search'></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- marca, cor, tamanho, material -->

                                            <div class='row'>
                                                <div class='col-sm-2'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Controla Est</span>
                                                        <select class='form-control' name='ctrl_est' autocomplete='off'>
                                                            <option value='SIM'>SIM</option>
                                                            <option value='NAO'>NÃO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class='col-sm-4'>
                                                    <div class='input-group mb-3'>
                                                        <span class='input-group-text'>Griffe</span>
                                                        <input list='dropdownGriffe' autocomplete='off' type='text'
                                                            class='form-control' name='griffe'>
                                                        <datalist id='dropdownGriffe'></datalist>
                                                        <div class='input-group-append'>
                                                            <button class='btn btn-outline-secondary busca'
                                                                type='button' onclick='showDataGriffe();'><i
                                                                    class='bi bi-search'></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-2'>
                                                        <span class='input-group-text'>Data Inicio</span>
                                                        <input type='date'
                                                            class='form-control text-center input-group-text'
                                                            name='griffe_dt_inic'>
                                                    </div>
                                                </div>
                                                <div class='col-sm-3'>
                                                    <div class='input-group mb-2'>
                                                        <span class='input-group-text'>Data Termino</span>
                                                        <input type='date'
                                                            class='form-control text-center input-group-text'
                                                            name='griffe_dt_term'>
                                                    </div>
                                                </div>
                                            </div> <!-- griffe -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>

                    <input type='hidden' name='IsNew' id='IsNew' value='Y'>
                    <input type='hidden' name='StartRow' id='StartRow' value='0'>
                    <input type='hidden' name='RowCount' id='RowCount' value='0'>

                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='input-group'>
                                <h6 class='mt-4'>Composição do Item (insumos)</h6>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class='input-group mt-3'>
                                <span class='input-group-text'>CST Padrão</span>
                                <input type='text' class='form-control text-center input-group-text' id='TotalPadrão'
                                    name='padrao_insumos'>
                            </div>
                        </div>
                        <div class='col-sm-3'>
                            <div class='input-group mt-3'>
                                <span class='input-group-text'>Custo Insumos</span>
                                <input type='text' class='form-control text-center input-group-text' id='TotalInsumos'
                                    name='custo_insumos'>
                            </div>
                        </div>
                    </div>

                    <table class='table table-sm table-responsive-sm table-bordered'>
                        <col class=m01>
                        <col class=m02>
                        <col class=m03>
                        <col class=m04>
                        <col class=m05>
                        <col class=m06>
                        <col class=m07>
                        <thead class='table-dark'>
                            <tr>
                                <th scope='col' class='text-center'>Seq</th>
                                <th scope='col' class='text-center'>Código</th>
                                <th scope='col' class='text-center'>Item</th>
                                <th scope='col' class='text-center'>Qtd</th>
                                <th scope='col' class='text-center'>Cst Padrao</th>
                                <th scope='col' class='text-center'>Cst Unit</th>
                                <th scope='col' class='text-center'>Total Item</th>
                                <th scope='col' class='no-print'>
                                    <button type='button' class='btn btn-sm btn-warning' onclick='BtnAdd();'>+</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id='TBody'>
                            <tr id='TRow' class='d-none'>
                                <th scope='row' class='text-center pt-2'></th>
                                <td><input type='text' class='form-control text-center table-width-qty' name='id_ins'
                                        autocomplete='off' required></td>
                                <td>
                                    <input type='text' class='form-control table-width-desc' name='ins_nm'
                                        list='dropdownItens' autocomplete='off' required>
                                    <datalist id='dropdownItens'></datalist>
                                </td>

                                <td><input type='number' class='form-control text-right table-width-value' name='qty'
                                        min='1' required onchange='CalcInsumosQtd(this);'
                                        onmouseenter='CalcInsumosQtd(this);'>
                                </td>
                                <td><input type='number'
                                        class='form-control text-right input-group-text table-width-value'
                                        name='price_padrao' min='0.00' max='100.000.00' step='0.01' autocomplete='off'
                                        onchange='CalcPadraoInsumos(this);' onmouseenter='CalcPadraoInsumos(this);'>
                                </td>
                                <td><input type='number'
                                        class='form-control text-right table-width-value input-group-text'
                                        name='price_atual' min='0.00' max='100.000.00' step='0.01' autocomplete='off'
                                        onchange='CalcInsumos(this);' onmouseenter='CalcInsumos(this);'>
                                </td>
                                <td><input type='number' class='form-control text-right table-width-value' name='amt'
                                        disabled min='0.00' max='100.000.00' step='0.01'>
                                </td>

                                <input type='hidden' class='form-control text-right table-width-value' name='amt_padrao'
                                    disabled min='0.00' max='100.000.00' step='0.01'>
                                <td class='no-print'><button type='button' class='btn btn-sm btn-danger'
                                        onclick='BtnDel(this);'>X</button></td>
                            </tr>

                        </tbody>
                    </table>

                    <section class='row mt-4'>

                        <div class='col-sm-4'>
                            <div class='accordion' id='accordionExample'>
                                <div class='card'>
                                    <div class='card-header' id='headingTwo'>
                                        <h5 class='mb-0'>
                                            <button class='btn btn-link' type='button' data-toggle='collapse'
                                                data-target='#collapseTwo' aria-expanded='true'
                                                aria-controls='collapseTwo'>
                                                <h6 class='mt-2'>Resumo Entrada (qtd)</h6>
                                            </button>
                                        </h5>
                                    </div>

                                    <div id='collapseTwo' class='collapse' aria-labelledby='headingTwo'
                                        data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            <div class='input-group mb-3'>
                                                <span class='input-group-text'>Total Entrada</span>
                                                <input type='number' class='form-control input-group-text text-center'
                                                    id='RegEntTot' name='reg_ent_total' min='0.00' max='10.000.00'
                                                    step='1.00'>
                                            </div>
                                            <div class='input-group mb-3'>
                                                <span class='input-group-text'>Mês Atual</span>
                                                <input type='number' class='form-control input-group-text text-center'
                                                    id='RegEntMes0' name='reg_ent_mes0' min='0.00' max='10.000.00'
                                                    step='1.00'>
                                            </div>
                                            <div class='input-group mb-3'>
                                                <span class='input-group-text'>Mês Anterior 1</span>
                                                <input type='number' class='form-control input-group-text text-center'
                                                    id='RegEntMes1' name='reg_ent_mes1' min='0.00' max='10.000.00'
                                                    step='1.00'>
                                            </div>
                                            <div class='input-group mb-3'>
                                                <span class='input-group-text'>Mês Anterior 2</span>
                                                <input type='number' class='form-control input-group-text text-center'
                                                    id='RegEntMes2' name='reg_ent_mes2' min='0.00' max='10.000.00'
                                                    step='1.00'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-4'>
                            <div class='accordion' id='accordionExample'>
                                <div class='card'>
                                    <div class='card-header' id='headingThree'>
                                        <h5 class='mb-0'>
                                            <button class='btn btn-link collapsed' type='button' data-toggle='collapse'
                                                data-target='#collapseThree' aria-expanded='false'
                                                aria-controls='collapseThree'>
                                                <h6 class='mt-2'>Resumo Saída (qtd)</h6>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id='collapseThree' class='collapse' aria-labelledby='headingThree'
                                        data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            <div class='input-group mb-3'>
                                                <span class='input-group-text'>Total Saída</span>
                                                <input type='number' class='form-control input-group-text text-center'
                                                    id='RegSaiTot' name='reg_sai_total' min='0.00' max='10.000.00'
                                                    step='0.01'>
                                            </div>
                                            <div class='input-group mb-3'>
                                                <span class='input-group-text'>Mês Atual</span>
                                                <input type='number' class='form-control input-group-text text-center'
                                                    id='RegSaiMes0' name='reg_sai_mes0' min='0.00' max='10.000.00'
                                                    step='0.01'>
                                            </div>
                                            <div class='input-group mb-3'>
                                                <span class='input-group-text'>Mês Anterior 1</span>
                                                <input type='number' class='form-control input-group-text text-center'
                                                    id='RegSaiMes1' name='reg_sai_mes1' min='0.00' max='10.000.00'
                                                    step='0.01'>
                                            </div>
                                            <div class='input-group mb-3'>
                                                <span class='input-group-text'>Mês Anterior 2</span>
                                                <input type='number' class='form-control input-group-text text-center'
                                                    id='RegSaiMes2' name='reg_sai_mes2' min='0.00' max='10.000.00'
                                                    step='0.01'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class='col-sm-4'>

                            <div class='row text-center mt-3 mb-4'>
                                <div class='col-sm-6'>
                                    <button type='submit' class='btn btn-primary px-3 my-1'
                                        onclick='Validar()'>Salvar</button>
                                </div>
                                <div class='col-sm-6'>
                                    <a href='../../templates/read/list-itens.html'>
                                        <button type='button' class='btn btn-danger px-3 my-1'>Cancelar
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class='row text-center'>
                                <div class='col-sm-6'>
                                    <button type='button' class='btn px-2 my-1 btn-success'
                                        onclick='GetPrint();'>Imprimir</button>
                                </div>
                                <div class='col-sm-6'>
                                    <button type='button' class='btn px-2 my-1 btn-success'
                                        onclick='showDataEdit()'>Lista Itens
                                    </button>
                                </div>
                            </div>

                        </div>

                    </section>

                </div>

            </section>

        </form>

        <section id='nav-breadcrumb-registros'>
            <script type='text/javascript' src='../../static/js/load.js'></script>
        </section>

    </main>

    <section>
        <div id='modalShow-Item'></div>    
        <div id='modalShow-Cor'></div>
        <div id='modalShow-Tamanho'></div>
        <div id='modalShow-Material'></div>
        <div id='modalShow-Griffe'></div>    
        <div id='modalShow-Marca'></div>
        <div id='modalShow-Grupo'></div>
        <div id='modalShow-SubGrupo'></div>
        <div id='modalShow-Categoria'></div>
    </section>

    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
    <script src='../../static/painel/js/firebase-init.js'></script>
    <script src='../../static/painel/js/auth-guard.js'></script>

    <script type='text/javascript' src='../../static/painel/js/load.js'></script>
    <script type='text/javascript' src='../../static/painel/js/global/versao_title.js'></script>

    <script type='text/javascript' src='../../static/painel/js/modules/register-action.js'></script>
    <script type='text/javascript' src='../../static/painel/js/modules/data-listas-fill.js'></script>
    <script type='text/javascript' src='../../static/painel/js/modules/data-listas-show.js'></script>

    <!--
    <script type='text/javascript' src='../../static/js/modules/show-data-cad-itens.js'></script>
    -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'
        integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
        crossorigin='anonymous'></script>
    <script type='text/javascript' src='../../static/painel/bootstrap/js/bootstrap.js'></script>
    <script type='text/javascript' src='../../static/painel/bootstrap/js/bootstrap.bundle.js'></script>

</body>

</html>