<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Website">
    <meta name="author" content="Angelita Santos">
    <meta name="keyWords" content="website">
    <meta name="robots" content="index, follow">
    <meta name="classification" content="site, website">

    <title></title>

    <link rel="shortcut icon" href="../../static/img/logo.png" type="image/x-icon">
    <script src="../../static/cdn/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../../static/cdn/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/painel.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-reboot.css">
</head>

<body class="container-fluid">

    <header id="nav-navbar">
        <script type="text/javascript" src="../../../static/js/load.js"></script>
    </header>

    <main class="mt-2 mb-5">

        <form action="" id="form-action" method="post" class="needs-validation" novalidate name="formulario">

            <section class="card">

                <header class="card-header text-center bg-success text-light">
                    <section class="row mt-3">

                        <div class="col-sm-9 mb-2">
                            <h3 class="">VENDA</h3>
                        </div>

                        <div class="">
                            <input type="hidden" class="form-control text-center" name="tipo_registro" value="VENDA">
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group mb-1">
                                <span class="input-group-text">Tipo</span>
                                <select class="form-control text-center" name="finalidade" id="dropdownFinalidade"
                                    autocomplete="off">
                                </select>
                            </div>
                        </div>

                    </section>
                </header>

                <div class="card-body">

                    <section class="row">

                        <div class="col-sm-4">
                            <div class="input-group mb-2">
                                <span class="input-group-text">Número</span>
                                <input type="text" class="form-control text-center" id="inv_no" name="inv_no"
                                    autocomplete="off" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"
                                        onclick="SearchRegistros();"><i class="bi bi-search"></i></button>
                                </div>
                                <div class="invalid-tooltip">
                                    Por favor, coloque um número válido.
                                </div>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Data</span>
                                <input type="date" class="form-control text-center" name="dt_reg">
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Status Reg</span>
                                <select class="form-control text-center status_registro" name="status_registro" id="dropdownStatusRegistro"></select>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Vendedor</span>
                                <input type="hidden" class="form-control" name="id_vendedor" value="1">
                                <input autocomplete="off" type="text" class="form-control text-center" name="vendedor" value="SEM VENDEDOR">
                                <input autocomplete="off" type="text" class="form-control text-center" name="comissao">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"
                                        onclick="ShowAllDataVendedores();"><i class="bi bi-search"></i></button>
                                </div>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Conta</span>
                                <input type="hidden" class="form-control" name="id_conta" value="1">
                                <input autocomplete="off" type="text" class="form-control text-center" name="conta" value="RECEITA">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"
                                        onclick="ShowAllDataContas();"><i class="bi bi-search"></i></button>
                                </div>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Centro Custo</span>
                                <input autocomplete="off" type="text" class="form-control text-center" name="ccusto" value="FATURAMENTO">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"
                                        onclick="ShowAllDataCCusto();"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="input-group mb-2">
                                <span class="input-group-text">Parceiro</span>
                                <input type="text" class="text-center input-group-text" style="width: 100px;"
                                    name="id_parceiro" value="1">
                                <input type="text" class="form-control" name="parceiro" required minlength="4"
                                    value="CONSUMIDOR">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary busca" type="button"
                                        onclick="ShowAllDataParceiros();"><i class="bi bi-search"></i></button>
                                </div>
                                <div class="invalid-tooltip">
                                    Por favor, coloque um nome de parceiro válido. Mínimo 4 caracteres.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">CNPJ/CPF</span>
                                        <input type="text" class="form-control text-center" name="cnpj_cpf">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">IE/RG</span>
                                        <input type="text" class="form-control text-center" name="ie_rg">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Endereço</span>
                                        <input type="text" class="form-control" name="endereco">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Bairro</span>
                                        <input type="text" class="form-control text-center" name="bairro">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Cidade</span>
                                        <input type="text" class="form-control" name="cidade">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">CEP</span>
                                        <input type="text" class="form-control text-center" name="cep">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">E-mail</span>
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Telefone</span>
                                        <input type="text" class="form-control text-center" name="telefone">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Transportadora</span>
                                        <input type="text" class="form-control" name="transportadora">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Valor Frete</span>
                                        <input type="number" class="form-control text-right" name="vr_frete"
                                            min="0.00" step="0.01">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>

                    <input type="hidden" name="IsNew" id="IsNew" value="Y">
                    <input type="hidden" name="StartRow" id="StartRow" value="0">
                    <input type="hidden" name="RowCount" id="RowCount" value="0">

                    <table class="table table-sm table-responsive-sm table-bordered mt-4">
                        <col class=m01>
                        <col class=m02>
                        <col class=m03>
                        <col class=m04>
                        <col class=m05>
                        <col class=m06>
                        <col class=m07>
                        <col class=m08>
                        <col class=m09>
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" class="text-center">Seq</th>
                                <th scope="col" class="text-center">Código</th>
                                <th scope="col" class="text-center">Item</th>
                                <th scope="col" class="text-center">Qtd</th>
                                <th scope="col" class="text-center">Pr Unit</th>
                                <th scope="col" class="text-center">Total Bruto</th>
                                <th scope="col" class="text-center">Desc %</th>
                                <th scope="col" class="text-center">Desc Valor</th>
                                <th scope="col" class="text-center">Total Liquido</th>
                                <th scope="col" class="no-print">
                                    <button type="button" class="btn btn-sm btn-warning" onclick="BtnAdd();">+</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="TBody">
                            <tr id="TRow" class="d-none">
                                <th scope="row" class="text-center"></th>
                                <td><input type="text" class="form-control text-center table-width-qty" name="id_item"
                                        autocomplete="off" required></td>
                                <td>
                                    <input type="text" class="form-control table-width-text" name="item_nm"
                                        list="datalistPriceValues" autocomplete="off" required>
                                    <div class="invalid-feedback">
                                        Include 1 item
                                    </div>
                                    <datalist id="datalistPriceValues"></datalist>
                                </td>
                                <input type="hidden" class="form-control text-center" name="lote">
                                <input type="hidden" class="form-control text-center" name="validade">
                                <td><input type="number" class="form-control text-right table-width-qty" name="qty"
                                        min="1" required onchange="Calc(this);" onmouseenter="Calc(this);">
                                    <p class="invalid-feedback">
                                        Coloque uma quantidade válida.
                                    </p>
                                </td>
                                <td><input type="number" class="form-control text-right table-width-value" name="price"
                                        min="0.00" step="0.01" autocomplete="off"
                                        onchange="Calc(this);" onmouseenter="Calc(this);">
                                    <p class="invalid-feedback">
                                        Coloque um preço válido.
                                    </p>
                                </td>
                                <td><input type="number" class="form-control text-right table-width-value" name="amt"
                                        disabled min="0.00" step="0.01">
                                </td>
                                <td><input type="number" class="form-control text-right table-width-value"
                                        name="disc_perc" min="0.00" step="0.01"
                                        onchange="CalcDisc(this);" onmouseenter="Calc(this);">
                                </td>
                                <td><input type="number" class="form-control text-right table-width-value"
                                        name="disc_value" min="0.00" step="0.01"
                                        onchange="CalcDisc(this);" onmouseenter="Calc(this);">
                                </td>
                                <td><input type="number" class="form-control text-right table-width-value"
                                        name="amt_liq" disabled min="0.00" step="0.01">
                                </td>
                                <td class="no-print"><button type="button" class="btn btn-sm btn-danger"
                                        onclick="BtnDel(this);">X</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <footer class="card-body">
                    <section class="row">

                        <div class="col-sm-4">
                            <div class="input-group mb-2">
                                <span class="input-group-text">Total Itens</span>
                                <input type="text" class="form-control text-center" id="RegTItem" name="reg_total_itens" disabled>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Acrescimo</span>
                                <input type="number" class="form-control text-right" id="RegAdd" name="vr_acrescimo" 
                                    min="0.00" step="0.01" onchange="GetTotal()">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Desconto</span>
                                <input type="number" class="form-control text-right" id="RegDiscount" name="vr_desconto" 
                                    min="0.00" step="0.01" onchange="GetTotal()">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Total Geral</span>
                                <input type="text" class="form-control text-center" id="RegTotal" name="reg_total" disabled>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="input-group mb-2">
                                <span class="input-group-text">Tipo Pgto</span>
                                <input list="dropdownTipoPgto" autocomplete="off" type="text"
                                    class="form-control text-center" id="TipoPgto" name="tipo_pgto">
                                <datalist id="dropdownTipoPgto"></datalist>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Cond Pgto</span>
                                <input type="text" class="form-control text-center" id="CondPgto" name="cond_pgto"
                                    value="A VISTA">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary busca" type="button"
                                        onclick="ShowAllDataCondPgto();"><i class="bi bi-search"></i></button>
                                </div>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Qtd Parc</span>
                                <input type="number" class="text-center input-group-text" id="QtdParc" name="qtd_parc"
                                    min="1" step="1" value="1">
                                <span class="input-group-text ml-1">Prazo Parc</span>
                                <input type="number" class="text-center input-group-text" id="PrazoParc"
                                    name="prazo_parc" min="1" step="1" value="1">
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Status Pgto</span>
                                <select class="form-control text-center status_pgto" name="status_pgto" id="dropdownStatusPgto"></select>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="row text-center mt-3 mb-4">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary px-3 my-1"
                                        onclick="Validar()">Salvar</button>
                                </div>
                                <div class="col-sm-6">
                                    <a href="../../templates/read/list-vendas.html">
                                        <button type="button" class="btn btn-danger px-3 my-1">Cancelar
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <button type="button" class="btn px-2 my-1 btn-success"
                                        onclick="GetPrint();">Imprimir</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn px-2 my-1 btn-success"
                                        onclick="ShowAllDataRegistros()">Lista Vendas
                                    </button>
                                </div>
                            </div>

                        </div>

                    </section>
                </footer>

            </section>

        </form>

        <section id="nav-breadcrumb-cadastros">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </section>

    </main>

    <section>
        <div id="modal-ListaRegistros">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    
        <div id="modal-ListaParceiros">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    
        <div id="modal-ListaVendedores">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    
        <div id="modal-ListaContas">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    
        <div id="modal-ListaCondPgto">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </div>
    </section>

    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
    <script src='../../static/js/firebase-init.js'></script>
    <script src='../../static/js/auth-guard.js'></script>
    <script type="text/javascript" src="../../static/js/global/versao_title.js"></script>
    <script type="text/javascript" src="../../static/js/modules/register-action.js"></script>
    <script type="text/javascript" src="../../static/js/modules/data-listas-fill.js"></script>
    <script type="text/javascript" src="../../static/js/modules/show-data-reg-vendas.js"></script>
    <!--
    <script type="text/javascript" src="../../static/js/modules/show-data-cad-itens.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>