<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Website">
    <meta name="author" content="Angelita Santos">
    <meta name="keyWords" content="website">
    <meta name="robots" content="index, follow">
    <meta name="classification" content="site, website">

    <title></title>

    <link rel="shortcut icon" href="../../static/img/logo.png" type="image/x-icon">
    <script src="../../static/cdn/jquery-3.7.0.js"></script>
    <link rel="stylesheet" href="../../static/cdn/bootstrap-icons.css">
    <link rel="stylesheet" href="../../static/css/painel.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-reboot.css">
</head>

<body class="container-fluid">

    <header id="nav-navbar">
        <script type="text/javascript" src="../../static/js/load.js"></script>
    </header>

    <main class="mt-2 mb-5">

        <form action="" method="post" class="needs-validation" novalidate name="formulario">

            <section class="card">

                <header class="card-header text-center bg-success text-light">
                    <section class="mt-3">
                        <div class="mb-3">
                            <h3 class="">PAGAR</h3>
                        </div>
                    </section>
                </header>

                <div class="card-body">

                    <section class="row">

                        <div class="col-sm-4">
                            <div class="input-group mb-2">
                                <span class="input-group-text">Número</span>
                                <input type="text" class="form-control text-center" id="inv_no" name="inv_no"
                                    autocomplete="off" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button"
                                        onclick="SearchRegistros();"><i class="bi bi-search"></i></button>
                                </div>
                                <div class="invalid-tooltip">
                                    Por favor, coloque um número válido.
                                </div>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Data</span>
                                <input type="date" class="form-control text-center" name="reg_dt">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Status Reg</span>
                                <select class="form-control order_status" name="order_status" autocomplete="off">
                                </select>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text">Vendedor</span>
                                <input list="dropdownSellerList" autocomplete="off" type="text" class="form-control"
                                    name="seller">
                                <datalist id="dropdownSellerList"></datalist>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="input-group mb-2">
                                <span class="input-group-text">Parceiro</span>
                                <input type="text" class="text-center input-group-text" style="width: 100px;"
                                    name="id_partner">
                                <input list="datalistPartnerList" type="text" class="form-control" name="partner"
                                    required autocomplete="off" minlength="4">
                                <datalist id="datalistPartnerList"></datalist>

                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary busca" type="button"
                                        onclick="ShowAllDataPartners();"><i class="bi bi-search"></i></button>
                                </div>
                                <div class="invalid-tooltip">
                                    Por favor, coloque um nome de parceiro válido. Mínimo 4 caracteres.
                                </div>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Endereço</span>
                                <input type="text" class="form-control" name="address">
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Cidade</span>
                                        <input type="text" class="form-control" name="city">
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">Telefone</span>
                                        <input type="text" class="form-control text-center" name="phone">
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">E-mail</span>
                                <input type="email" class="form-control" name="email">
                            </div>
                        </div>

                    </section>

                    <section class="row mt-4">

                        <div class="col-sm-4">
                            <div class="input-group mb-2">
                                <span class="input-group-text">Total Itens</span>
                                <input type="text" class="form-control text-center" id="RegTItem" name="reg_total_itens"
                                    disabled>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Acrescimo</span>
                                <input type="number" class="form-control text-right" id="RegAdd" name="reg_add"
                                    min="0.00" max="10.000.00" step="0.01" onchange="GetTotal()">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Desconto</span>
                                <input type="number" class="form-control text-right" id="RegDiscount"
                                    name="reg_discount" min="0.00" max="10.000.00" step="0.01" onchange="GetTotal()">
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Total Geral</span>
                                <input type="text" class="form-control text-center" id="RegTotal" name="reg_total"
                                    disabled>
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="input-group mb-2">
                                <span class="input-group-text">Tipo Pgto</span>
                                <input list="dropdownPaymentType" autocomplete="off" type="text"
                                    class="form-control text-center" id="PaymentType" name="payment_type">
                                <datalist id="dropdownPaymentType">

                                </datalist>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Qtd Parc</span>
                                <input type="number" class="form-control text-center" id="PaymentQtd" name="payment_qtd"
                                    min="1" step="1" value="1" required>
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-text">Status Pgto</span>
                                <select class="form-control payment_status" name="payment_status" autocomplete="off">
                                </select>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="row text-center mt-3 mb-4">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary px-3 my-1"
                                        onclick="Validar()">Salvar</button>
                                </div>
                                <div class="col-sm-6">
                                    <a href="../../templates/read/list-pagar.html">
                                        <button type="button" class="btn btn-danger px-3 my-1">Cancelar
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <button type="button" class="btn px-2 my-1 btn-success"
                                        onclick="GetPrint();">Imprimir</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn px-2 my-1 btn-success"
                                        onclick="ShowAllDataRegistros()">Lista Vendas
                                    </button>
                                </div>
                            </div>

                        </div>

                    </section>

                </div>

            </section>

        </form>

        <section id="nav-breadcrumb-registros">
            <script type="text/javascript" src="../../static/js/load.js"></script>
        </section>

    </main>

    <section>
        <div class="modal fade" id="modalListaRegistros" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Lista Produção</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body my-3">
                        <table class="table table-sm table-responsive table-hover">
                            <tbody id="TBodyAll">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPriceList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Lista Itens</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body my-3">
                        <table class="table table-sm table-responsive table-hover">
                            <tbody id="TBodyPrice">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
    <script src='../../static/js/firebase-init.js'></script>
    <script src='../../static/js/auth-guard.js'></script>
    <script type="text/javascript" src="../../static/js/global/versao_title.js"></script>
    <script type="text/javascript" src="../../static/js/modules/register-action.js"></script>
    <script type="text/javascript" src="../../static/js/modules/data-listas-fill.js"></script>
    <!--
    <script type="text/javascript" src="../../static/js/modules/show-data-cadastros.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.bundle.js"></script>

</body>

</html>