<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <meta name='description' content='Website'>
    <meta name='author' content='Angelita Santos'>
    <meta name='keyWords' content='website'>
    <meta name='robots' content='index, follow'>
    <meta name='classification' content='site, website'>

    <title></title>

    <link rel='shortcut icon' href='../../static/img/logo.png' type='image/x-icon'>
    <script src='../../static/painel/cdn/jquery-3.7.0.js'></script>
    <link rel='stylesheet' href='../../static/painel/cdn/bootstrap-icons.css'>
    <link rel='stylesheet' href='../../static/painel/css/painel.css'>
    <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap-grid.css'>
    <link rel='stylesheet' href='../../static/painel/bootstrap/css/bootstrap-reboot.css'>
</head>

<body class='container-fluid'>

    <header id='nav-navbar'></header>

    <main class='mt-2 mb-5 card text-center'>

        <header class='card-header text-center bg-success text-light'>
            <section class='mt-3'>
                <div class='mb-3'>
                    <h3 class=''>ITENS</h3>
                </div>
            </section>
        </header>

        <section id='nav-breadcrumb-cadastros'>
            <script type='text/javascript' src='../../static/js/load.js'></script>
        </section>

        <section class='card-body'>

            <div class='row mb-3'>
                <div class='col-sm-3 input-group mb-2'>
                    <span class='input-group-text'>Número</span>
                    <input type='text' class='form-control text-center' id='' name='search_cod_item'
                        placeholder='Digite o numero' autocomplete='off' required>
                    <div class='input-group-append'>
                        <button class='btn btn-outline-secondary' type='button' onclick='showDataItem();'><i
                                class='bi bi-search'></i></button>
                    </div>
                    <div class='invalid-tooltip'>
                        Por favor, coloque um número válido.
                    </div>
                </div>
                <div class='col-sm-7'>
                </div>
                <div class='col-sm-2'>
                    <form class='form-inline my-1 my-lg-0'>
                        <a href='../../templates/create/add-itens.html' class='btn btn-success'>Adicionar Novo</a>
                    </form>
                </div>
            </div>

            <form action='' id='form-action' method='post'></form>

            <div id='search-item'>
                <div class='row'>
                    <div class='col-sm-2'>
                        <div class='input-group mb-3'>
                            <span class='input-group-text'>Codigo</span>
                            <input type='text' class='form-control input-group-text' autocomplete='off' name='id_item'>
                        </div>
                    </div>
                    <div class='col-sm-7'>
                        <div class='input-group mb-3'>
                            <span class='input-group-text'>Descrição</span>
                            <input type='text' class='form-control input-group-text' name='item_nm' required autocomplete='off'
                                minlength='4'>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='input-group mb-3'>
                            <span class='input-group-text'>UnMed</span>
                            <input type='text' class='form-control text-center input-group-text' name='un_med'
                                autocomplete='off'>
                        </div>
                    </div>
                </div> <!-- codigo, descricao, unmed -->

                <div class='row'>
                    <div class='col-sm-3'>
                        <div class='input-group mb-3'>
                            <span class='input-group-text'>Estoque</span>
                            <input autocomplete='off' type='number' class='form-control text-center input-group-text'
                                name='estoque' min='0.00' max='10.000.00' step='1.00'>
                        </div>
                    </div>

                    <div class='col-sm-3'>
                        <div class='input-group mb-3'>
                            <span class='input-group-text'>Custo Atual</span>
                            <input autocomplete='off' type='number' class='form-control text-center input-group-text'
                                name='custo_atual' min='0.00' max='10.000.00' step='0.0001'>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='input-group mb-3'>
                            <span class='input-group-text'>Cod Fabr</span>
                            <input autocomplete='off' type='text' class='form-control text-center input-group-text' name='cod_fabr'>
                        </div>
                    </div>
                    <div class='col-sm-3'>
                        <div class='input-group mb-3'>
                            <span class='input-group-text'>Cod Barra</span>
                            <input autocomplete='off' type='text' class='form-control text-center input-group-text' name='cod_barra'>
                        </div>
                    </div>
                </div> <!-- estoque, custo atual, cod fab, cod barra -->
            </div>

            <table id='bodymargem' class='table table-sm table-responsive table-hover mb-5'>
                <tbody id='TBodyAllItem'>
                </tbody>
            </table>

        </section>

        <section id='nav-breadcrumb-registros'>
            <script type='text/javascript' src='../../static/js/load.js'></script>
        </section>

    </main>

    <section id='modalShow-Item'></section>

    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js'></script>
    <script src='https://www.gstatic.com/firebasejs/9.6.7/firebase-auth-compat.js'></script>
    <script src='../../static/painel/js/firebase-init.js'></script>
    <script src='../../static/painel/js/auth-guard.js'></script>

    <script type='text/javascript' src='../../static/painel/js/load.js'></script>
    <script type='text/javascript' src='../../static/painel/js/global/versao_title.js'></script>

    <script type='text/javascript' src='../../static/painel/js/modules/show-data-cad-itens.js'></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'
        integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
        crossorigin='anonymous'></script>
    <script type='text/javascript' src='../../static/painel/bootstrap/js/bootstrap.js'></script>
    <script type='text/javascript' src='../../static/painel/bootstrap/js/bootstrap.bundle.js'></script>

</body>

</html>